  {% include header.html %}

  <article>

    <div class="top-wrapper">
      <div class="wrapper">
        <div class="top">
          <header class="post__header">
            <h1 class="post__title">{{ page.title }}</h1>
            <ul class="post__meta">
              <li><span>Published:</span> {{ page.date | date_to_long_string }}</li>
              <li><span>Last updated:</span> {% render_time %}</li>
              <li><span>Est. Read Time:</span> {{ page.content | reading_time }}</li>
            </ul>
            <h2>{{ page.description }}</h2>
          </header>
        </div>
      </div>
    </div>

    <div class="wrapper page">

      {{ content }}

    </div>
  </article>

  {{ % if page.comments % }}
    <div class="comments wrapper">
      <h3>Comments</h3>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          var disqus_shortname = 'davidpaulsson';
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);

              var s = document.createElement('script'); s.async = true;
              s.type = 'text/javascript';
              s.src = '//' + disqus_shortname + '.disqus.com/count.js';
              (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
  {{ % endif % }}

  {% include footer.html %}
  {% include scripts.html %}
  {% include googleanalytics.html %}

  </body>
</html>
