@font-face {
  font-family: 'Px Grotesk';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/PxGroteskRegular.eot');
  src: url('../fonts/PxGroteskRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PxGroteskRegular.woff2') format('woff2'),
    url('../fonts/PxGroteskRegular.woff') format('woff'),
    url('../fonts/PxGroteskRegular.svg#PxGroteskRegular') format('svg');
  font-display: swap;
}
