html {
  font-size: 62.5%;
}

body {
  color: var(--text);
  background-color: var(--background);

  font-family: 'Px Grotesk', Helvetica, Arial, Sans-Serif;
  font-size: 1.5rem;
  font-weight: normal;
  font-style: normal;
  line-height: 2rem;
}

.pad {
  padding: 0.5rem;
}

h1,
.h1,
h2,
.h2 {
  font-size: 2.5rem;
  line-height: 2.5rem;

  @media (min-width: 980px) {
    font-size: 3rem;
    line-height: 3rem;
  }
}

$lightModeColors: rgb(245, 135, 135), rgb(135, 245, 135), rgb(135, 135, 245),
  rgb(135, 245, 245), rgb(245, 135, 245), rgb(245, 245, 135);

$darkModeColors: rgb(255, 200, 200), rgb(200, 255, 200), rgb(200, 200, 255),
  rgb(200, 255, 255), rgb(255, 200, 255), rgb(255, 255, 200);

a {
  text-decoration: none;

  @each $color in $lightModeColors {
    $i: index($lightModeColors, $color);
    &:nth-of-type(#{length($lightModeColors)}n + #{$i}) {
      color: $color;

      &:hover {
        color: darken($color, 25);
      }
    }
  }
  body.dark-mode & {
    @each $color in $darkModeColors {
      $i: index($darkModeColors, $color);
      &:nth-of-type(#{length($darkModeColors)}n + #{$i}) {
        color: $color;

        &:hover {
          color: darken($color, 25);
        }
      }
    }
  }
}
