---
layout: default
title: David Paulsson | Front end developer
---

<div class="wrapper">

  {% include intro.html %}

  <section class="posts">
    <h1>Blog Posts</h1>
    {% for post in site.posts %}
      <article class="post">
        <time>{{ post.date | date_to_string }}</time> &raquo; <a href="{{ post.url }}">{{ post.title }}</a>
      </article>
    {% endfor %}
  </section>
</div>

<section class="instagram">
  <h2>My Instagram <em>(i.e. what i’m eating)</em></h2>
  <ul id="instagram" class="instagram__items"></ul>
</section>
