<article class="intro">
  <h1 class="intro__headline">Hi there, I’m David; a front end developer from Sweden. I'm super passionate about typography, semantics and code&nbsp;structure.</h1>
  <div class="col1">
    <section class="intro__section">
      <h2 class="intro__section-headline">The what</h2>
      <p>I build user interfaces for the web. A few years back I was really focused on learning a single product well, namely <em>WordPress</em>. And although <em>WordPress</em> is great I’ve come to realise that technologies change but the webs’ core principles remain. Since then I’ve been part of teams working with applications in <em>.Net</em>, <em>Ruby on Rails</em>, <em>PHP</em> and other languages, but my focus has been, and continues to be, on the front&nbsp;end.</p>
      <p>Ever since I made that commitment, to focus on the front end, I’ve really got to dig deep in how the presentation layer of web applications work and what best practices to embrace in my line of work. A journey I’m very glad to have&nbsp;made.</p>
    </section>
  </div>
  <div class="col2">
    <section class="intro__section">
      <h2 class="intro__section-headline">The who</h2>
      <p>I’m an developer slash designer meaning I feel equally comfortable in <em>Photoshop</em> as I do in <em>Sublime Text</em>. When I’m not working at my day job I regularly collaborate with other talented designers to bring fresh ideas, products and web applications out to people like you, the&nbsp;customer.</p>
    </section>
    <section class="intro__section">
      <h2 class="intro__section-headline">The how</h2>
      <p>My number one love is <em>CSS</em>, I love the language and how it enables web applications to feel a certain way. But large scale web applications often become bloated and hard to maintain. And since speed is an important part of the user experience I take great pride in organising and optimising my code structure be it <em>CSS</em>, <em>JavaScript</em> or <em>HTML</em>. And using the tools available for me to do&nbsp;so.</p>
    </section>
  </div>
  <div class="col3">
    <section class="intro__section">
      <h2 class="intro__section-headline">The why</h2>
      <p>Because I love design. And I truly believe design comes to life when being interacted with, that’s why I love the internet so much. User experience is a corner stone in everything I do. I’m proud to be part of a community which is truly changing the world. <em>Code is&nbsp;poetry.</em></p>
    </section>
    <section class="intro__section">
      <h2 class="intro__section-headline">The when</h2>
      <p>I’ve been working with the web since ’04, and tinkering with it long before that. (And have hopefully picked up on a thing or two on the way.) When I graduated from university college I started my own design and development shop with a friend. For a more complete work story, <a class="go" href="/cv">view my&nbsp;resumé</a>.</p>
    </section>
  </div>
</article>
