<section class="testimonials">

  <h1>Recommendations</h1>

  <article class="testimonial">
    <img data-src="img/niklas-rosen.jpg" height="100" width="100" alt="Niklas Rosén">
    <blockquote>
      <p>David is a solid and hardworking developer! We worked together with the new website for Ametist Azordegan and it was a charm watching my pixels become the site. I know we will work more together in the future and you should too!</p>
      <footer>
        <a href="http://niklasrosen.se/">Niklas Rosén</a><br>Designer at <a href="http://www.theworldloves.com/">The World Loves</a>
      </footer>
    </blockquote>
  </article>

  <article class="testimonial">
    <img data-src="img/mathias-lewen.jpg" height="100" width="100" alt="Mathias Lewen">
    <blockquote>
      <p>David is an extremely talented person with great knowledge in his field, and curiosity and drive to explore new tools for his work. In addition he has good common sense and judgement in taking measures to solve the problems he faces. He is also a great personality, which you like to have around you. Simply put—a great colleague and friend.</p>
      <footer>
        <a href="https://twitter.com/MathiasLewen">Mathias Lewén</a><br>CEO of <a href="http://www.bybrick.se/">byBrick Interface</a>
      </footer>
    </blockquote>
  </article>

  <article class="testimonial">
    <img data-src="img/leighton-paul-walsh.jpg" height="100" width="100" alt="Leighton Paul Walsh">
    <blockquote>
      <p>Excellent creative thinker. Takes jobs from infancy to full completion with ease and accuracy. Best graphic designer I’ve ever worked with.</p>
      <footer>
        <a href="https://twitter.com/walshyfire">Walshy Fire</a><br>of <a href="http://majorlazer.com/">Major Lazer</a>
      </footer>
    </blockquote>
  </article>

  <article class="testimonial">
    <img data-src="img/erik-stridell.jpg" height="100" width="100" alt="Erik Stridell">
    <blockquote>
      <p>I found Davids profile here on LinkedIn and jumped at the chance to hire him. Since then he has been the cornerstone of the social media services at our agency, and has excellent skills in both digital design and development. He is always up to date with the web and has strong opinions, which is great since he tends to be right. :) Excellent guy to have around!</p>
      <footer>
        <a href="https://twitter.com/stridell">Erik Stridell</a><br> Online business developer at <a href="http://www.bybrick.se/">byBrick Interface</a>
      </footer>
    </blockquote>
  </article>

  <article class="testimonial">
    <img data-src="img/peter-gaudiano.jpg" height="100" width="100" alt="Peter Gaudiano">
    <blockquote>
      <p>Top qualities: Personable, Expert, High Integrity.</p>
      <footer>
        <a href="https://twitter.com/nomethod">Peter Gaudiano</a><br> Digital Producer at <a href="http://www.fb.se/">Forsman & Bodenfors</a>
      </footer>
    </blockquote>
  </article>

  <article class="testimonial">
    <img data-src="img/jens-nylander.jpg" height="100" width="100" alt="Jens Nylander">
    <blockquote>
      <p>David our front-end HTML, CSS ninja is just mind-blowing when he starts Sublime.</p>
      <footer>
        <a href="https://twitter.com/nomethod">Jens Nylander</a><br> Founder of <a href="http://sv.wikipedia.org/wiki/Jens_of_Sweden">Jens of Sweden</a>, <a href="http://www.jays.se/">JAYS</a> and <a href="http://automile.io/">Automile</a>.
      </footer>
    </blockquote>
  </article>

</section>
