.contact {
  margin-bottom: 6rem;

  &__title {
    @media (min-width: 980px) {
      margin-bottom: 6rem;
    }
  }

  &__list {
    @media (max-width: 979px) {
      margin-top: 1rem;
      padding-top: 1rem;

      border-top: 1px solid rgba(0, 0, 0, 0.1);

      body.dark-mode & {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
      }
    }

    @media (min-width: 980px) {
      display: grid;

      column-gap: 0.5rem;
      grid-template-columns: repeat(10, 1fr);
    }
  }

  &__list-item {
    &:nth-child(1) {
      a {
        color: #e07578;
        &:hover {
          color: darken(#e07578, 25);
        }
      }
    }
    &:nth-child(2) {
      a {
        color: #d96cd0;
        &:hover {
          color: darken(#d96cd0, 25);
        }
      }
    }
    &:nth-child(3) {
      a {
        color: #8a88fb;
        &:hover {
          color: darken(#8a88fb, 25);
        }
      }
    }
    &:nth-child(4) {
      a {
        color: #55a1a0;
        &:hover {
          color: darken(#55a1a0, 25);
        }
      }
    }

    @media (max-width: 979px) {
      display: grid;

      column-gap: 0.5rem;
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 980px) {
      &:nth-child(1) {
        grid-column: span 4;
      }
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        grid-column: span 2;
      }
    }
  }

  &__key {
    opacity: 0.5;
    @media (min-width: 980px) {
      margin-bottom: 1rem;
      padding-bottom: 1rem;

      border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      body.dark-mode & {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      }
    }
  }
}
