.header {
  margin-bottom: 6rem;

  &__title {
    display: inline;
  }

  &__toggle {
    position: absolute;

    width: 5rem;
    height: 2.5rem;
    margin-left: 0.5rem;

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    border: none;
    border-radius: 3rem;
    outline: none;
    background-color: var(--text);

    @media (min-width: 980px) {
      width: 5rem;
      height: 3rem;
    }

    svg {
      stroke: var(--background);
      stroke-width: 2px;
      fill: var(--background);

      @media (max-width: 979px) {
        transform: translateY(-2px);
      }
    }
  }

  &__content {
  }
}
