$numbers: zero one two three four five six seven eight nine;

.section {
  margin-bottom: 6rem;

  a {
    color: var(--text);

    body.dark-mode & {
      color: var(--text);
    }
  }

  &__title {
    @media (min-width: 980px) {
      margin-bottom: 6rem;
    }
  }

  &__headers {
    display: none;

    color: rgba($color: #000, $alpha: 0.5);

    body.dark-mode & {
      color: rgba($color: #fff, $alpha: 0.5);
    }

    @media (min-width: 980px) {
      display: grid;

      column-gap: 0.5rem;
      grid-template-columns: repeat(10, 1fr);
    }

    &--experiences {
      div:nth-child(1) {
        grid-column: 1 / 2;
      }
      div:nth-child(2) {
        grid-column: 2 / 3;
      }
      div:nth-child(3) {
        grid-column: 3 / 5;
      }
      div:nth-child(4) {
        grid-column: 5 / 8;
      }
      div:nth-child(5) {
        grid-column: 8 / 11;
        column-span: 3;
      }
    }

    &--education {
      div:nth-child(1) {
        grid-column: 1 / 2;
      }
      div:nth-child(2) {
        grid-column: 2 / 5;
      }
      div:nth-child(3) {
        grid-column: 5 / 11;
      }
    }

    &--honors-and-awards {
      div:nth-child(1) {
        grid-column: 1 / 2;
      }
      div:nth-child(2) {
        grid-column: 2 / 5;
      }
      div:nth-child(3) {
        grid-column: 5 / 8;
      }
      div:nth-child(4) {
        grid-column: 8 / 11;
      }
    }
  }

  &__data {
    display: grid;

    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-top: 1rem;

    border-top: 1px solid rgba($color: #000, $alpha: 0.1);

    column-gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      'zero one'
      '. two'
      'three three'
      'four four'
      'five five'
      'six six'
      'seven seven'
      'eight eight'
      'nine nine';

    body.dark-mode & {
      border-top: 1px solid rgba($color: #fff, $alpha: 0.1);
    }

    @media (min-width: 980px) {
      grid-template-columns: repeat(10, 1fr);

      &--experiences {
        grid-template-areas: 'zero one two two three three . four four four';
      }
      &--education {
        grid-template-areas: 'zero one one one two two two two two two';
      }
      &--honors-and-awards {
        grid-template-areas: 'zero one one one two two . three three three';
      }
    }

    &__item {
      @each $number in $numbers {
        $i: index($numbers, $number);
        &:nth-child(#{$i}) {
          grid-area: $number;
        }
      }
    }
  }
}
