/* =Base styles: opinionated defaults
-------------------------------------------------------------- */

html,
button,
input,
select,
textarea {
  color: $black;
  font-family: $serif-font-stack;
}

#{headings(2,6)} {
  font-family: $sans-serif-font-stack;
}

html,
body {
  overflow-x: hidden;
  background-color: $white;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: $yellow;
  color: $black;
  text-shadow: none;
}

::selection {
  background: $yellow;
  color: $black;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  @include leader(2);
  @include trailer(2);
  color: darken($white, 25%);
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  position: relative;

  &:after{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    content: "\00A7";
    text-align: center;
    line-height: 0;
  }
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/*
 * Callouts, alerts etc
 */

.alert {
  @include trailer;
  @include padding-trailer;
  @include padding-leader;
  background: $red;
  color: $white;
  text-align: center;

  a {
    color: $white;
  }
}
