/* =Blockquotes
-------------------------------------------------------------- */

blockquote {
  @include adjust-font-size-to(18px);
  border-left: 5px solid $yellow;
  font-style: italic;

  @include at-breakpoint($large) {
    @include post(4);
    float: right;
    margin-top: 0;
    margin-left: $gutter-width;
    width: columns(3, 12);
    border-left: 0;
    background: $yellow;
    text-align: center;

    &:before {
      display: block;
      margin-top: -1em;
      height: 2em;
      background: $yellow;
      content: "";
      transform: skewY(-2deg);
    }

    &:after {
      display: block;
      margin-bottom: -1em;
      height: 2em;
      background: $yellow;
      content: "";
      transform: skewY(2deg);
    }
  }

  & > p {
    padding: 1em;
    margin-bottom: 0;
  }
}
