/* =Buttons
-------------------------------------------------------------- */

.btn {
  @include adjust-font-size-to(16px);
  @include padding-trailer;
  @include padding-leader;
  display: inline-block;
  padding-right: 1em;
  padding-left: 1em;
  border: 0;
  background-color: $black;
  color: $white;
  font-weight: normal;
  font-family: $sans-serif-font-stack;

  &:hover {
    border-bottom: none;
    background-color: lighten($black,10%);
    cursor: pointer;
  }

  @include at-breakpoint($large) {
    @include adjust-font-size-to(18px);
  }
}

.btn--block {
  display: block;
  width: 100%;
  text-align: center;

  @include at-breakpoint($large) {
    @include padding-trailer(2);
    @include padding-leader(2);
  }
}
