/* =Site footer
-------------------------------------------------------------- */

/*
 * Footer
 */

.site-footer {
  @include padding-trailer(4);
  @include padding-leader(3);
  background: $black;
  color: $white;
  font-family: $sans-serif-font-stack;

  h3 {
    margin-top: 0;
  }

  a {
    @include underline($white);
  }
}
