/* =Instagram
-------------------------------------------------------------- */

.instagram {
  @include pie-clearfix;
}

/* ul */.instagram__items {
  @include pie-clearfix;
  padding-left: 0;
  list-style: none;
}

/* li */.instagram__item {
  position: relative;
  float: left;
  width: (100 / 2) * 1%;

  @include at-breakpoint($medium) {
    width: (100 / 4) * 1%;
  }

  @include at-breakpoint($large) {
    width: (100 / 6) * 1%;
  }

  &:hover {
  }

  img {
    width: 100%;
    height: auto;
  }
}

.instagram__likes {
  @include vertical-align;
  position: absolute;
  z-index: 1;
  width: 100%;
  text-align: center;
}
