/* =Links
-------------------------------------------------------------- */

a {
  @include force-wrap; // Force text links to wrap
  color: $red;
  text-decoration: none;
  // font-weight: bold;

  &:hover,
  &:focus,
  &:active {
    border-bottom: 1px solid;
  }
}

/*
 * Go
 * Links that imply movement
 */

.go:after {
  content: "→";
  margin-left: .5em;
}
