/* =Mixins
-------------------------------------------------------------- */

/*
 * Vertical align
 */

@mixin vertical-align {
  @include translateY(-50%);
  position: relative;
  top: 50%;
}

/*
 * Full width background
 */

@mixin full-width-bgr($color) {
  background-color: $color;
  position: relative;

  &:before,
  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 9999px;
    background: $color;
    content: "";
  }

  &:before {
    right: 100%;
  }

  &:after {
    left: 100%;
  }
}

/*
 * Shorthand for size
 */

@mixin size($size) {
  width: $size;
  height: $size;
}

/*
 * CSS Triangles
 */

$arrow-size: $gutter-width/2 !default;
$arrow-border: 1 !default;
$border: $arrow-size;
$arrow: $arrow-size - $arrow-border;

%arrow {
  position: relative;

  &:before,
  &:after {
    content: "";
    position: absolute;
    border-collapse: separate;
  }

  &:before {
    border: $border solid transparent;
  }

  &:after {
    border: $arrow solid transparent;
  }
}


/**
 * Define individual edges so we can combine what we need, when we need.
 */
%arrow--top {
  @extend %arrow;

  &:before,
  &:after {
    bottom: 100%;
  }
}

%arrow--upper {
  @extend %arrow;

  &:before {
    top: $arrow;
  }

  &:after {
    top: $border;
  }
}

%arrow--middle {
  @extend %arrow;

  &:before,
  &:after {
    top: 50%;
    margin-top: -$border;
  }

  &:after {
    margin-top: -$arrow;
  }
}

%arrow--lower {
  @extend %arrow;

  &:before {
    bottom: $arrow;
  }

  &:after {
    bottom: $border;
  }
}

%arrow--bottom {
  @extend %arrow;

  &:before,
  &:after {
    top: 100%;
  }
}

%arrow--near {
  @extend %arrow;

  &:before,
  &:after {
    right: 100%;
  }
}

%arrow--left {
  @extend %arrow;

  &:before {
    left: $arrow;
  }

  &:after {
    left:$border;
  }
}

%arrow--center {
  @extend %arrow;

  &:before,
  &:after {
    left: 50%;
    margin-left: -$border;
  }

  &:after {
    margin-left: -$arrow;
  }
}

%arrow--right {
  @extend %arrow;

  &:before {
    right: $arrow;
  }

  &:after {
    right: $border;
  }
}

%arrow--far {
  @extend %arrow;

  &:before,
  &:after {
    left: 100%;
  }
}


@mixin arrow($arrow-edge, $arrow-location, $arrow-color, $border-color: $arrow-color) {
  @if $arrow-edge == top {
    @extend %arrow--top;

    &:before {
      border-bottom-color: $border-color!important;
    }

    &:after {
      border-bottom-color: $arrow-color!important;
    }

    @if $arrow-location == left {
      @extend %arrow--left;
    }

    @if $arrow-location == center {
      @extend %arrow--center;
    }

    @if $arrow-location == right {
      @extend %arrow--right;
    }
  }

  @if $arrow-edge == right {
    @extend %arrow--far;

    &:before {
      border-left-color: $border-color!important;
    }

    &:after {
      border-left-color: $arrow-color!important;
    }

    @if $arrow-location == top {
      @extend %arrow--upper;
    }

    @if $arrow-location == center {
      @extend %arrow--middle;
    }

    @if $arrow-location == bottom {
      @extend %arrow--lower;
    }
  }

  @if $arrow-edge == bottom {
    @extend %arrow--bottom;

    &:before {
      border-top-color: $border-color!important;
    }

    &:after {
      border-top-color: $arrow-color!important;
    }

    @if $arrow-location == left {
      @extend %arrow--left;
    }

    @if $arrow-location == center {
      @extend %arrow--center;
    }

    @if $arrow-location == right {
      @extend %arrow--right;
    }
  }

  @if $arrow-edge == left {
    @extend %arrow--near;

    &:before {
      border-right-color: $border-color!important;
    }

    &:after {
      border-right-color: $arrow-color!important;
    }

    @if $arrow-location == top {
      @extend %arrow--upper;
    }

    @if $arrow-location == center {
      @extend %arrow--middle;
    }

    @if $arrow-location == bottom {
      @extend %arrow--lower;
    }
  }
}

/*
 * Add percentage of white to a color
 */

@function tint($color, $percent){
  @return mix(white, $color, $percent);
}

/*
 * Add percentage of black to a color
 */

@function shade($color, $percent){
  @return mix(black, $color, $percent);
}
