/* =Navigation
-------------------------------------------------------------- */

.main-nav {
  position: fixed;
  right: $gutter-width;
  z-index: 1;

  @include at-breakpoint($large) {
    top: $gutter-width*2;
    right: $gutter-width*2;
  }
}

.main-nav__trigger {
  z-index: 3;
  float: right;
  width: $gutter-width;
  height: $gutter-width;
  background: $black;
  color: $white;
  position: relative;
  text-align: center;
  line-height: $gutter-width - .1;

  .no-js & {
    display: none;
  }

  &:hover {
    border-bottom: none;
    background: lighten($black, 20%);
  }
}

/* ul */.main-nav__items {
  @include box-shadow(0px 2px 10px rgba(0,0,0,0.15));
  @include arrow(top, right, lighten($black, 20%));
  z-index: 2;
  display: none;
  margin-top: $gutter-width*2;
  background-color: lighten($black, 20%);
  list-style-type: none;

  &.main-nav__items--show {
    @extend .fade--in-down;
    display: block;
  }

  &.main-nav__items--remove {
    @extend .fade--out-up;
    display: block;
  }
}

/* li */.main-nav__item {
  font-family: $sans-serif-font-stack;

  &:last-child {
    a {
      border-bottom: none;
    }
  }

  a {
    display: block;
    padding: .5em 4em .5em 1em;
    color: $white;
    font-weight: normal;
    border-bottom: 1px solid lighten($black, 30%);

    &:hover {
      background-color: lighten($black, 30%);
      color: $black;
    }
  }
}
