{% include header.html %}

<section class="site-small-navigation" role="complementary">
	<h1 class="menu-toggle">Menu</h1>
	<nav role="navigation">
		<ul>
			<li>Menu</li>
			<li><a href="/">Startpage</a></li>
			<li class="no-border"></li>
			<li>Quick contact</li>
			<li><a href="http://twitter.com/davidpaulsson/">@davidpaulsson</a></li>
			<li class="no-border"><a href="mailto:david@davidpaulsson.se">david@davidpaulsson.se</a></li>
		</ul>
	</nav>
</section><!-- .site-small-navigation -->

<div class="container">
	<div class="site-header-wrapper" id="top">
		<header class="site-header" role="banner">
			<div class="site-header-branding">
				<h1 class="title"><a href="/">{{ site.name }}</a></h1>
			</div><!-- .site-branding -->

			<nav class="site-header-navigation" role="navigation">
				<ul>
					<li><a href="/">←&nbsp;Back to startpage</a></li>
				</ul>
			</nav><!-- .site-header-navigation -->

		</header><!-- .site-header -->
	</div><!-- .site-header-wrapper -->

	<div class="site-main-wrapper" id="blog">
		<section class="site-main">
			{{ content }}
		</section><!-- .site-main -->
	</div><!-- .site-main-wrapper -->

{% include footer.html %}