{% include header.html %}

<section class="site-small-navigation" role="complementary">
	<h1 class="menu-toggle">Menu</h1>
	<nav role="navigation">
		<ul>
			<li>Menu</li>
			<li><a href="/archive/">Blog archive</a></li>
			<li class="no-border"></li>
			<li>Quick contact</li>
			<li><a href="http://twitter.com/davidpaulsson/" rel="me">@davidpaulsson</a></li>
			<li class="no-border"><a href="mailto:david@davidpaulsson.se">david@davidpaulsson.se</a></li>
		</ul>
	</nav>
</section><!-- .site-small-navigation -->

<div class="container">
	<div class="site-header-wrapper" id="top">
		<header class="site-header" role="banner">
			<div class="site-header-branding">
				<h1 class="title"><a href="/">{{ site.name }}</a></h1>
			</div><!-- .site-branding -->

			<nav class="site-header-navigation" role="navigation">
				<ul>
					<li><a href="#about">About</a></li>
					<li><a href="#work">Work</a></li>
					<li><a href="#blog">Blog</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</nav><!-- .site-header-navigation -->

		</header><!-- .site-header -->
	</div><!-- .site-header-wrapper -->

	<div class="prelude-wrapper">
		<section class="prelude">
			<h1>I’m David Paulsson</h1>
			<p>A typical Swedish guy who’s passionate about interface design, typography, usability and <a href="http://wordpress.org/">WordPress</a>.</p>
		</section><!-- .prelude -->
	</div><!-- .prelude-wrapper -->

	<div class="about-wrapper" id="about">
		<article class="about">
			<img src="img/davidpaulsson.png">
			<header class="intro">
				<h1>About me</h1>
				<h2>It takes skills to pay the bills.</h2>
			</header>
			<section>
				<p>I’m a digital designer and front end developer with great knowledge about web standards, information architecture and usability. I’m also up to date with new technologies and social media.</p>
				<p>I’m currently employed by <a href="http://www.bybrick.se/">byBrick</a> but before that I’ve been a self-employed designer and developer who worked with the entertainment buisness creating websites, merchendise, CDs/ DVDs, identity work and for some of the leading artists and brands in Sweden.</p>
				<h2>In private</h2>
				<p>I live in Västerås, Sweden, with <a href="http://ykp.se/">my wife Yaty</a>. The last ten years I’ve also been working as a DJ and club promoter together with <a href="https://twitter.com/tommyisacsson">@tommyisacsson</a>, arranging events all over Sweden. Much of my spare time is devoted to various side projects as I don’t really like just sittin’ around. In general (painting with broad strokes) I like good coffee, interior design, to eat well and travel often.</p>
			</section>
			<aside>
				<h2>Recommendations</h2>

				<div class="left">
					<blockquote>
						<p>David is a solid and hardworking developer! We worked together with the new website for Ametist Azordegan and it was a charm watching my pixels become the site. I know we will work more together in the future and you should too!</p>
						<footer>
							<div class="niklas"></div>
							<a href="http://niklasrosen.se/">Niklas Rosén</a><br>
							Designer at <a href="http://www.theworldloves.com/">The World Loves</a>
						</footer>
					</blockquote>
					<blockquote>
						<p>I found Davids profile here on LinkedIn and jumped at the chance to hire him. Since then he has been the cornerstone of the social media services at our agency, and has excellent skills in both digital design and development. He is always up to date with the web and has strong opinions, which is great since he tends to be right. :) Excellent guy to have around!</p>
						<footer>
							<div class="erik"></div>
							<a href="https://twitter.com/stridell">Erik Stridell</a><br>
							Online business developer at <a href="http://www.bybrick.se/">byBrick Interface</a>
						</footer>
					</blockquote>
					<blockquote>
						<p>That’s nice, honey.</p>
						<footer>
							<div class="margareta"></div>
							<a href="#!">Mom</a><br>
						</footer>
					</blockquote>
				</div><!-- .left -->

				<div class="right">
					<blockquote>
						<p>David is an extremely talented person with great knowledge in his field, and curiosity and drive to explore new tools for his work. In addition he has good common sense and judgement in taking measures to solve the problems he faces. He is also a great personality, which you like to have around you. Simply put—a great colleague and friend.</p>
						<footer>
							<div class="mathias"></div>
							<a href="https://twitter.com/MathiasLewen">Mathias Lewén</a><br>
							CEO of <a href="http://www.bybrick.se/">byBrick Interface</a>
						</footer>
					</blockquote>
					<blockquote>
						<p>Excellent creative thinker. Takes jobs from infancy to full completion with ease and accuracy. Best graphic designer I’ve ever worked with.</p>
						<footer>
							<div class="walshy"></div>
							<a href="https://twitter.com/walshyfire">Walshy Fire</a><br>
							of <a href="http://majorlazer.com/">Major Lazer</a>
						</footer>
					</blockquote>
					<blockquote>
						<p>Top qualities: Personable, Expert, High Integrity.</p>
						<footer>
							<div class="peter"></div>
							<a href="https://twitter.com/nomethod">Peter Gaudiano</a><br>
							Digital Producer at <a href="http://www.fb.se/">Forsman & Bodenfors</a>
						</footer>
					</blockquote>
				</div><!-- .right -->
			</aside>
		</article><!-- .about -->
	</div><!-- .about-wrapper -->

	<div class="work-wrapper" id="work">
		<nav class="work-nav">
			<a class="prev">Prev</a>
			<a class="next">Next</a>
		</nav>
		<div class="work owl-carousel owl-theme">
			<article>
				<img src="/img/case/frontit.png">
				<header>
					<h1>Frontit</h1>
					<h2>Your company’s partner in change</h2>
				</header>
				<div class="work-meta">
					<span class="year">2013</span>
					<span class="cms">WordPress</span>
					<span class="role">Design</span>
					<span class="role">Development</span>
				</div>
				<p>Frontit offers consulting services in management, project and program management, and training. Their new site lists upcoming seminars and reflects their brand in a modern way.</p>
				<p><a href="http://frontit.se/" class="btn">Visit site</a></p>
			</article>
			<article>
				<img src="/img/case/looptroop-rockers.png">
				<header>
					<h1>Looptroop Rockers</h1>
					<h2>Professional Dreamers is an ode to everyone living their dream, and dreaming their lives!</h2>
				</header>
				<div class="work-meta">
					<span class="year">2013</span>
					<span class="cms">WordPress</span>
					<span class="role">Design</span>
					<span class="role">Development</span>
				</div>
				<p>Swedens largest hiphop export. Together with the group I’ve been in charge of their website and Facebook page (with 75k+ likes) for several years.</p>
				<p><a href="http://www.looptrooprockers.com/" class="btn">Visit site</a></p>
			</article>
			<article>
				<img src="/img/case/itrim.png">
				<header>
					<h1>Itrim</h1>
					<h2>The world's best solution to one of the world's greatest challenges.</h2>
				</header>
				<div class="work-meta">
					<span class="year">2013</span>
					<span class="cms">EpiServer</span>
					<span class="">Design</span>
					<span class="role">Development</span>
				</div>
				<p>Would you be amazed if you lost 25 pounds in 12 weeks safely? Itrim is a global weight loss company founded in Sweden. When they changed platform to EpiServer7 I helped their team with the design and then produced the front end templates for their external and internal web sites.</p>
				<p><a href="http://nyafilmstaden.se/" class="btn">Visit site</a></p>
			</article>
			<article>
				<img src="/img/case/nyafilmstaden.png">
				<header>
					<h1>Nya Filmstaden</h1>
					<h2>Welcome to the Neighborhood</h2>
				</header>
				<div class="work-meta">
					<span class="year">2012</span>
					<span class="role">Design</span>
					<span class="role">Development</span>
				</div>
				<p>Welcome to the new amusement part in Västerås, Sweden. The theme is food & entertainment, and the new multiplex cinema is the most modern, fully digital cinema complex is Sweden.</p>
				<p><a href="http://nyafilmstaden.se/" class="btn">Visit site</a></p>
			</article>
			<article>
				<img src="/img/case/yes.png">
				<header>
					<h1>Yes! in Concert</h1>
					<h2>Last night Yes! saved my life.</h2>
				</header>
				<div class="work-meta">
					<span class="year">2011</span>
					<span class="role">WordPress</span>
					<span class="role">Development</span>
				</div>
				<p>Yes! in concert, a hiphop club in Stockholm Sweden that has been around since the early 90′s and has played a big part in building the hiphop scene in Sweden. Design by <a href="http://niklasrosen.se/">Niklas Rosén</a>.</p>
				<p><a href="http://www.iloveyes.se/" class="btn">Visit site</a></p>
			</article>
			<article>
				<img src="/img/case/berattarministeriet.png">
				<header>
					<h1>Berättarministeriet</h1>
					<h2>All children carry dreams, ideas, thoughts, opinions and experiences.</h2>
				</header>
				<div class="work-meta">
					<span class="year">2011</span>
					<span class="role">WordPress</span>
					<span class="role">Development</span>
				</div>
				<p>Berättarministeriet is a nonprofit organization dedicated to inspire children, aged 8-18, from areas of high unemployment to conquer the written word. Their work is based on the understanding that strong writing skills are fundamental for participation in a democratic and pluralistic society.</p>
				<p>Their new site site was developed together with <a href="http://www.happy.fb.se/">Happy F&B</a> and display an ever growing library of the children’s stories.</p>
				<p><a href="http://berattarministeriet.se/in-english/" class="btn">Visit site</a></p>
			</article>
			<article>
				<img src="/img/case/evolution.png">
				<header>
					<h1>Evolution Hiphop</h1>
					<h2>Swedish Hiphop compilation.</h2>
				</header>
				<div class="work-meta">
					<span class="year">2010</span>
					<span class="role">WordPress</span>
					<span class="role">Development</span>
				</div>
				<p>Evolution Hiphop is a project presented by <a href="http://ametistazordegan.com/">Ametist Azordegan</a>, <a href="http://www.unitedstage.se/aktuellt/redline-records.aspx">Redline Records</a> and <a href="http://thesalazarbrothers.blogspot.se/">Salazar Brothers</a> and was released in September 2010.</p>
				<p>The collection contains the largest majority of exclusively recorded songs and is a collector’s item for anyone who is interested in the Swedish hiphop scene. The hope is that there will be yet another compilation album with the same purpose in ten years, and that it thereby creates a reference points for the genre in Sweden. Design by <a href="http://niklasrosen.se/">Niklas Rosén</a>.</p>
				<p><a href="http://evolutionhiphop.se/" class="btn">Visit site</a></p>
			</article>
			<article>
				<img src="/img/case/ametist-azordegan.png">
				<header>
					<h1>Ametist Azordegan</h1>
					<h2>Music journalist, radio host at Swedish National Radio, DJ and former blogger at MTV.</h2>
				</header>
				<div class="work-meta">
					<span class="year">2009</span>
					<span class="role">WordPress</span>
					<span class="role">Development</span>
				</div>
				<p>Custom WordPress theme for Ametist Azordegan. Design by <a href="http://niklasrosen.se/">Niklas Rosén</a>.</p>
				<p><a href="http://ametistazordegan.com/" class="btn">Visit site</a></p>
			</article>
		</div><!-- .work -->
		<!-- <div class="clients-wrapper">
			<section class="clients">
				<h3>Some of the clients I’ve been fortunate enough to work with over the years</h3>
				<div class="logos">
					<div class="abb"><a href="http://www.abb.com/">ABB</a></div>
					<div class="atlascopco"><a href="http://www.atlascopco.com/">Atlas Copco</a></div>
					<div class="berattarministeriet"><a href="http://berattarministeriet.se/">Berättarministeriet</a></div>
					<div class="frontit"><a href="http://frontit.se/">Frontit</a></div>
					<div class="ge"><a href="http://www.ge.com/">GE</a></div>
					<div class="ikea"><a href="http://www.ikea.com/">IKEA</a></div>
					<div class="itrim"><a href="http://www.itrim.se/">Itrim</a></div>
					<div class="looptrooprockers"><a href="http://www.looptrooprockers.com/">Looptroop Rockers</a></div>
					<div class="malarenergi"><a href="https://www.malarenergi.se/">Mälarenergi</a></div>
					<div class="vave"><a href="http://www.vave-shoerepair.com/">V AVE Shoe Repair</a></div>
				</div>
			</section>
		</div> -->
	</div><!-- .work-wrapper -->

	<div class="site-main-wrapper" id="blog">
		<section class="site-main">
			{{ content }}
		</section><!-- .site-main -->
		<div class="latest-comments">
			<h2>Latest comments</h2>
			<div class="latest-comments-load"></div><!-- .latest-comments-load -->
		</div><!-- .latest-comments -->
	</div><!-- .site-main-wrapper -->

	<div class="contact-wrapper" id="contact">
		<section class="contact">
			<header class="intro">
				<h1>Contact me</h1>
				<h2>Send me an email or tweet, let’s be friends.</h2>
			</header>
			<p><a href="mailto:david@davidpaulsson.se">david@davidpaulsson.se</a> <a href="https://twitter.com/davidpaulsson">@davidpaulsson</a></p>
		</section><!-- .contact -->
	</div><!-- .contact-wrapper -->

{% include footer.html %}