/* =About
-------------------------------------------------------------- */

.about-wrapper {
	background-color: $white;
}

.about {
	@include padding-trailer(3);

	&> img {
		display: inline;
		margin-top: -1em;
	}

	@include at-breakpoint($medium) {
		section {
			@include post(2);
		}
		.left {
			@include span-columns(4);
		}
		.right {
			@include span-columns(4 omega);
		}
	}
	@include at-breakpoint($large) {
		section {
			@include post(5);
		}
	}
}

$height: recommendations-sprite-height(niklas);
$width: recommendations-sprite-width(niklas);
.niklas {
	@include recommendations-sprite(niklas);
	height: $height;
	width: $width;
}

$height: recommendations-sprite-height(erik);
$width: recommendations-sprite-width(erik);
.erik {
	@include recommendations-sprite(erik);
	height: $height;
	width: $width;
}

$height: recommendations-sprite-height(margareta);
$width: recommendations-sprite-width(margareta);
.margareta {
	@include recommendations-sprite(margareta);
	height: $height;
	width: $width;
}

$height: recommendations-sprite-height(mathias);
$width: recommendations-sprite-width(mathias);
.mathias {
	@include recommendations-sprite(mathias);
	height: $height;
	width: $width;
}

$height: recommendations-sprite-height(walshy);
$width: recommendations-sprite-width(walshy);
.walshy {
	@include recommendations-sprite(walshy);
	height: $height;
	width: $width;
}

$height: recommendations-sprite-height(peter);
$width: recommendations-sprite-width(peter);
.peter {
	@include recommendations-sprite(peter);
	height: $height;
	width: $width;
}