/* =Blog index
-------------------------------------------------------------- */

.site-main {
	@include leader(3);
	@include trailer(3);

	.post {
		@include padding-leader(2);
		@include padding-trailer();
		border-bottom: 1px solid $gray;

		&:last-child {
			border-bottom: none;
		}
	}

	@include at-breakpoint($medium) {
		.post {
			@include post(2);
		}
	}
	@include at-breakpoint($large) {
		.post {
			@include post(5);
		}
	}
}

.meta + h2 {
	margin-top: 0;
}

/* =Archive
-------------------------------------------------------------- */

header.archive {
	@include padding-leader(4);
}

/* =Posts
-------------------------------------------------------------- */

.meta {
	color: $gray;
}

.single-post {
	@include padding-leader(4);
	@include trailer(2);

	h1,
	.meta {
		text-align: center;
	}

	.meta {
		@include trailer(2);
	}

	@include at-breakpoint($medium) {
		#{headings(2,6)},
		ul,
		ol,
		blockquote,
		p,
		.caption {
			@include pre(1);
			@include post(1);
		}
	}

	@include at-breakpoint($large) {
		#{headings(2,6)},
		ul,
		ol,
		blockquote,
		p,
		.caption {
			@include pre(2);
			@include post(2);
		}

		.highlight {
			@include pre(1);
			@include post(1);
			background-color: darken($white,5);

			pre {
				@include padding-leader();
				@include padding-trailer();
				@include pre(1);
				@include post(1);
			}
		}
	}

	img {
		margin: 0 auto;
		max-width: 100%;
		height: auto;
	}

	.caption {
		@include trailer();
		@include adjust-font-size-to(14px);
		color: $gray;
		text-align: center;
	}

}