/* =Footer
-------------------------------------------------------------- */

.contact-wrapper {
	@include padding-leader(2);
	@include padding-trailer(2);
	background-color: $black;
	color: $white;
	text-align: center;

	h1,
	a {
		color: $white;
	}

	a {
		border-bottom: 1px solid $white;
		display: inline-block;
		font-weight: normal;
		margin: .5em;

		&:hover {
			border-bottom: 1px solid $black;
		}
	}
}

.site-footer-wrapper {
	@include padding-leader(2);
	@include padding-trailer(2);
	background-color: darken($black,10%);
	color: darken($white,20%);
	text-align: center;

	h4 {
		color: $white;
	}

	a {
		color: #fff;
		font-weight: normal;

		&:hover {
			border-bottom: 1px solid $white;
		}
	}

	.contact {
		@include at-breakpoint($large) {
			@include post(1);
			@include pre(1);
		}
	}

}

.site-footer {
	span {
		color: red;
	}
}