/* =Header
-------------------------------------------------------------- */

.chromeframe-wrapper {
	@include padding-leader(4);
	@include padding-trailer(1/2);
	background-color: red;
	color: $white;
	font-family: $font-stack;

	a {
		color: darken($white,10%);
	}
}

.site-header-wrapper {
	@extend .hide-for-small;
	background-color: $black;
	color: $white;
	font-family: $font-stack;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99999;

	a {
		color: $white;
	}
}

.site-header-branding {
	@include span-columns(4);

	@include at-breakpoint($medium) {
		@include span-columns(1);
	}
}

h1.title {
	margin: 16px 0 0 0;
	text-indent: -999em;

	a {
		@include leader();
		background-size: contain;
		background: inline-image('../img/davidpaulsson-logo.svg') no-repeat center center;
		display: block;
		height: 41px;
		margin-top: 0;
		width: 40px;
	}
}

/* No SVG support? */

.no-svg h1.title a {
	background-image: url(../img/davidpaulsson-logo.png);
}

/* =Navigation
-------------------------------------------------------------- */

.site-header-navigation {
	@include span-columns(4);

	ul {
		list-style-type: none;
	}

	li {
		display: block;
		text-align: center;
	}

	.disabled {
		color: $gray;
		font-weight: normal;
		text-decoration: line-through;
	}

	@include at-breakpoint($medium) {
		@include leader();
		@include span-columns(7 omega);
		@include adjust-font-size-to(16px);
		text-align: right;

		li {
			display: inline;
			margin-left: 2em;
		}
	}
}

.site-header-wrapper {
	display: none;

	@include at-breakpoint($medium) {
		display: block;
	}
}

/* =Mobile navigation
-------------------------------------------------------------- */

.site-small-navigation {
	@extend .show-for-small;
	@include clearfix();
	@include adjust-font-size-to(14px);
	background-color: $black;
	font-family: $font-stack;
	width: 100%;

	.show-small-navigation & {
		position: relative;
	}

	nav {
		@include leader();
		@include trailer();
		color: $white;
		display: none;
		margin-bottom: 40px;

		.show-small-navigation & {
			display: block;
		}

		ul {
			list-style-type: none;
		}

		li {
			border-bottom: 1px solid lighten($black,5%);
			padding: .5em 0;
		
			&.no-border {
				border: none;
			}
		}
	}
}

.menu-toggle {
	background: inline-image('../img/menu.svg') no-repeat center center;
	float: right;
	height: 40px;
	margin-bottom: 0;
	text-indent: -999em;
	width: 40px;

	.show-small-navigation & {
		background: inline-image('../img/menu-close.svg') no-repeat center center;
		bottom: 0;
		position: absolute;
		right: 0;
	}
}

/* No SVG support? */

.no-svg .menu-toggle {
	background-image: url(../img/menu.png);

	.show-small-navigation & {
		background-image: url(../img/menu-close.png);
	}
}

/* Make mobile nav work without js (Opera Mini for example) */

.no-js {
	.site-small-navigation {
		display: block !important;
	}
}

/* =Prelude
-------------------------------------------------------------- */

.prelude-wrapper {
	background-image: url(../img/intro-bgr.jpg);
	background-position: center;
	background-size: cover;

	@include at-breakpoint($medium) {
		background-attachment: fixed;
	}
}

.prelude {
	@include padding-leader(2);
	@include padding-trailer(2);
	color: $white;
	text-align: center;

	h1 {
		color: $white;
		margin-bottom: 0;
	}

	a {
		border-bottom: 1px solid $white;
		color: $white;
		font-weight: normal;

		&:hover {
			border-bottom: none;
		}
	}

	@include at-breakpoint($medium) {
		@include padding-leader(10);

		p {
			@include pre(1);
			@include post(1);
		}
	}

	@include at-breakpoint($large) {
		@include padding-leader(16);

		p {
			@include pre(2);
			@include post(2);
		}
	}
}