// =Variables
// ----------------------------------------------------------- */

// Susy
$total-columns:					4;
$column-width:					60px;
$gutter-width:					20px;
$grid-padding:					10px;

$medium:						8;
$large:							12;

$font-stack:		 			"aktiv-grotesk-std", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Fonts size and line height defaults
$base-font-size: 				16px;
$base-line-height: 				24px;
$round-to-nearest-half-line:	true;
@include establish-baseline;

$white:							#ffffff;
$black:							#202020;
$gray:							#cccccc;
$grayDark:						#999999;
$text:							#666666;
$primary:						#16a085;

// Sprites
$recommendations-layout: smart;
@import "recommendations/*.png";
$logos-layout: smart;
@import "logos/*.png";