/* =Work
-------------------------------------------------------------- */

.work-wrapper {
	background-color: $black;
	color: $white;

	.img {
		img {
			margin-top: -3em;
			width: 286px;
			height: auto;
		}

		@include at-breakpoint($medium) {
			@include span-columns(4);
		}
		@include at-breakpoint($large) {
			@include span-columns(5);
		}
	}

	.work-content {
		@include padding-leader(3);
		@include padding-trailer(3);

		@include at-breakpoint($medium) {
			@include span-columns(4 omega);
		}

		@include at-breakpoint($large) {
			@include span-columns(7 omega);
		}
	}

	.intro {
		h1,
		h1 a {
			color: $white;
		}
	}
}

// Slider specific
// .work { 
// 	position: relative; 
// 	overflow: auto; 
// 	padding-left: 0;
// 	padding-right: 0;

// 	li {
// 		list-style-type: none;
// 	}

// 	ul {
// 		li {
// 			float: left;
// 		}
// 	}
// }

.btn {
	@include border-radius();
	@include leader();
	background-color: $primary;
	color: $white;
	display: inline-block;
	padding: .5em 1em;

	&:hover {
		background-color: lighten($primary,10%);
		color: $white;
	}
}

/* =Clients
-------------------------------------------------------------- */

.clients {
	text-align: center;

	h3 {
		@include leader(3);

		color: $gray;
	}

	div {
		@include leader();
		@include span-columns(2);
		@include nth-omega(2n);

		@include at-breakpoint($medium) {
			@include remove-nth-omega(2n);
			@include span-columns(2);
			@include nth-omega(4n);
		}

		@include at-breakpoint($large) {
			@include border-radius();
			@include padding-leader();
			@include padding-trailer();
			@include remove-nth-omega(2n);
			@include remove-nth-omega(4n);
			@include span-columns(3);
			@include nth-omega(4n);

			background-color: #eee;
		}		
	}
}

%clients {
	@include transition-duration(0ms);
	display: block !important;
	background-position: center;
	text-indent: -999em;
	margin: 0 auto !important;
	height: 140px !important;
	width: 140px !important;
}

.abb a {
	@extend %clients;
	@include logos-sprite(abb);
	&:hover {
		@include logos-sprite(abb-hover);
	}
}

.atlascopco a {
	@extend %clients;
	@include logos-sprite(atlascopco);
	&:hover {
		@include logos-sprite(atlascopco-hover);
	}
}

.berattarministeriet a {
	@extend %clients;
	@include logos-sprite(berattarministeriet);
	&:hover {
		@include logos-sprite(berattarministeriet-hover);
	}
}

.frontit a {
	@extend %clients;
	@include logos-sprite(frontit);
	&:hover {
		@include logos-sprite(frontit-hover);
	}
}

.ge a {
	@extend %clients;
	@include logos-sprite(ge);
	&:hover {
		@include logos-sprite(ge-hover);
	}
}

.ikea a {
	@extend %clients;
	@include logos-sprite(ikea);
	&:hover {
		@include logos-sprite(ikea-hover);
	}
}

.itrim a {
	@extend %clients;
	@include logos-sprite(itrim);
	&:hover {
		@include logos-sprite(itrim-hover);
	}
}

.looptrooprockers a {
	@extend %clients;
	@include logos-sprite(looptrooprockers);
	&:hover {
		@include logos-sprite(looptrooprockers-hover);
	}
}

.malarenergi a {
	@extend %clients;
	@include logos-sprite(malarenergi);
	&:hover {
		@include logos-sprite(malarenergi-hover);
	}
}

.vave a {
	@extend %clients;
	@include logos-sprite(vave);
	&:hover {
		@include logos-sprite(vave-hover);
	}
}