/* =Work
-------------------------------------------------------------- */

.work-wrapper {
	background-color: $black;
	color: $white;
}

.work { 
	@include clearfix;
	color: $white;
	position: relative;

	#{headings()} {
		color: $white;
	}

	h1 {
		@include leader();
		margin-bottom: 0;
	}

	h2 {
		color: $gray;
		font-weight: normal;
		margin-top: 0;
	}

	ul {
		list-style-type: none;
	}

	li {
		margin-left: 80px;
		margin-right: 80px;
		width: 4*80px;

		@include at-breakpoint($large) {
			width: 6*80px;
		}		
		@include at-breakpoint($large) {
			width: 8*80px;
		}
	}

	img {
		-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
		@include transition-duration(100ms);
		@include transition-property(all);
		@include transition-timing-function(linear);
		filter: gray; /* IE6-9 */
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
		height: auto;
		max-width: 100%;
	}

	article {
		@include padding-leader(3);
		@include padding-trailer(2);
	}

	a {
		color: darken($white,20%);
	}

	.btn {
		background-color: $white;
		color: $black;
	}
}

.work-meta {
	@include trailer();

	span {
		@include adjust-font-size-to(12px);
		@include border-radius();
		@include transition-duration(100ms);
		@include transition-property(all);
		@include transition-timing-function(linear);
		background-color: $white;
		color: $black;
		font-family: $font-stack;
		padding: 2px 4px;
	}
}

.cycle-slide-active {
	img {
		-webkit-filter: grayscale(0%);
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
	}

	a {
		color: $primary;
	}

	span {
		background-color: #f39c12;
		color: $white;
	}

	.btn {
		background-color: $primary;
		color: $white;
	}
}

.prev-wrap,
.next-wrap {
	@include clearfix;
	background-color: $primary;
}

.slide-prev,
.slide-next {
	@include border-bottom-right-radius();	
	@include border-top-right-radius();
	background: $primary inline-image('../img/prev.svg') no-repeat center center;
	display: inline-block;
	height: 80px;
	left: 0;
	position: absolute;
	text-indent: -999em;
	top: 40%;
	width: 70px;
	z-index: 999;

	&:hover {
		background-color: lighten($primary,10%);
	}

	&.disabled {
		background-color: lighten($black,10%);
	}
}

.slide-next {
	@include rotate(180deg);
	left: auto;
	right: 0;
}

/* =Clients
-------------------------------------------------------------- */

// .clients-wrapper {
// 	@include padding-leader();
// 	@include transition-duration(100ms);
// 	@include transition-property(all);
// 	@include transition-timing-function(ease-in-out);	
// 	background-color: $gray;

// 	&:hover {
// 		background-color: lighten($gray,5%);
// 	}
// }

// .clients {
// 	text-align: center;
	
// 	h3 {
// 		display: inline-block;		
// 		font-weight: 200;

// 		&:hover {
// 			cursor: pointer;
// 		}
// 	}
// 	.logos {
// 		div {
// 			@include nth-omega(2n);
// 			@include padding-leader();
// 			@include span-columns(2);

// 			@include at-breakpoint($medium) {
// 				@include nth-omega(4n);
// 				@include remove-nth-omega(2n);
// 				@include span-columns(2);
// 			}

// 			@include at-breakpoint($large) {
// 				@include nth-omega(4n);
// 				@include remove-nth-omega(2n);
// 				@include remove-nth-omega(4n);
// 				@include span-columns(3);
// 			}
// 		}
// 	}
// }

// .logos {
// 	@include clearfix();
// 	@include padding-trailer(3);
// 	display: none;
// }

// %clients {
// 	@include transition-duration(0ms);
// 	background-position: center;
// 	display: block !important;
// 	margin: 0 auto !important;
// 	text-indent: -999em;
// }

// $height: sprite-sprite-height(abb);
// $width: sprite-sprite-width(abb);
// .abb a {
// 	@extend %clients;
// 	@include sprite-sprite(abb);
// 	height: $height;
// 	width: $width;
// 	&:hover {
// 		@include sprite-sprite(abb-hover);
// 	}
// }

// $height: sprite-sprite-height(atlascopco);
// $width: sprite-sprite-width(atlascopco);
// .atlascopco a {
// 	@extend %clients;
// 	@include sprite-sprite(atlascopco);
// 	height: $height;
// 	width: $width;
// 	&:hover {
// 		@include sprite-sprite(atlascopco-hover);
// 	}
// }

// $height: sprite-sprite-height(berattarministeriet);
// $width: sprite-sprite-width(berattarministeriet);
// .berattarministeriet a {
// 	@extend %clients;
// 	@include sprite-sprite(berattarministeriet);
// 	height: $height;
// 	width: $width;
// 	&:hover {
// 		@include sprite-sprite(berattarministeriet-hover);
// 	}
// }

// $height: sprite-sprite-height(frontit);
// $width: sprite-sprite-width(frontit);
// .frontit a {
// 	@extend %clients;
// 	@include sprite-sprite(frontit);
// 	height: $height;
// 	width: $width;
// 	&:hover {
// 		@include sprite-sprite(frontit-hover);
// 	}
// }

// $height: sprite-sprite-height(ge);
// $width: sprite-sprite-width(ge);
// .ge a {
// 	@extend %clients;
// 	@include sprite-sprite(ge);
// 	height: $height;
// 	width: $width;
// 	&:hover {
// 		@include sprite-sprite(ge-hover);
// 	}
// }

// $height: sprite-sprite-height(ikea);
// $width: sprite-sprite-width(ikea);
// .ikea a {
// 	@extend %clients;
// 	@include sprite-sprite(ikea);
// 	height: $height;
// 	width: $width;
// 	&:hover {
// 		@include sprite-sprite(ikea-hover);
// 	}
// }

// $height: sprite-sprite-height(itrim);
// $width: sprite-sprite-width(itrim);
// .itrim a {
// 	@extend %clients;
// 	@include sprite-sprite(itrim);
// 	height: $height;
// 	width: $width;
// 	&:hover {
// 		@include sprite-sprite(itrim-hover);
// 	}
// }

// $height: sprite-sprite-height(looptrooprockers);
// $width: sprite-sprite-width(looptrooprockers);
// .looptrooprockers a {
// 	@extend %clients;
// 	@include sprite-sprite(looptrooprockers);
// 	height: $height;
// 	width: $width;
// 	&:hover {
// 		@include sprite-sprite(looptrooprockers-hover);
// 	}
// }

// $height: sprite-sprite-height(malarenergi);
// $width: sprite-sprite-width(malarenergi);
// .malarenergi a {
// 	@extend %clients;
// 	@include sprite-sprite(malarenergi);
// 	height: $height;
// 	width: $width;
// 	&:hover {
// 		@include sprite-sprite(malarenergi-hover);
// 	}
// }

// $height: sprite-sprite-height(vave);
// $width: sprite-sprite-width(vave);
// .vave a {
// 	@extend %clients;
// 	@include sprite-sprite(vave);
// 	height: $height;
// 	width: $width;
// 	&:hover {
// 		@include sprite-sprite(vave-hover);
// 	}
// }